.DS_Store

# ictrainer
ictrainer/ictrainer/__pycache__
ictrainer/dist
ictrainer/ictrainer.egg-info
ictrainer/build

# test 
ictrainer/ictrainer/test
ictrainer/ictrainer/test.py

# test model
model/test/
